---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

article.page {
    padding-right: 0px;
}

table.dataframe {
    font-size: 15px;
}

div.language-plaintext.highlighter-rouge {
    background: whitesmoke;
    color: black;
}


div.language-plaintext.highlighter-rouge:before {
    content: "Sekolah Excel \00A9 ";
}